/* =====google fonts===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/* ====header area==== */
.container{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
.navigation-menu{
  display: flex;
  
}
.navigation-menu li{
  list-style: none;
  margin: 20px;
}
.navigation-menu li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.heading-title{
  font-size: 40px;
}

.header-image img{
  width: 60%;
}